<!DOCTYPE html>
{% include "sidebar.html" %}

<html>
  <body id="page-top">
    <title> UEM-PC Guides </title>
    <div class="container-fluid p-0">
      <section class="resume-section p-lg-5 flex-column" id="guides">
        <div class="my-auto"> 
          <h2> Guides </h2>
        </div>

          <div class="card mt-4">
            <div class="card-body">
              <div class="card-text">
                <a href="/guides/n1">
                  <h4 class="card-title mx-2 my-2"> Guide #0 - Introduction to competitive programming. </h4>
                </a>
              </div>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-body">
              <div class="card-text">
                <a href="/guides/n2">
                  <h4 class="card-title mx-2 my-2"> Guide #1 - Basics of C programming language. </h4>
                </a>
              </div>
            </div>
          </div>
  
          <!-- Not yet implemented
          <div class="card mt-4">
            <div class="card-body">
              <div class="card-text">
                <a href="/guides/n3">
                 <h4 class="card-title mx-2 my-2"> Guide #2 - Conditionals: controlling the execution of your program. </h4>
                </a>
              </div>
            </div>
          </div>
          -->

      </section>
    </div>
  </body>
</html>
