<!DOCTYPE html>
{% include "sidebar.html" %}

<html>
  <body>
    <title> Guide #0 - Introduction to competitive programming </title>
    <div class="container-fluid p-0">
      <section class="resume-section p-lg-5 flex-column">
        <div class="my-auto">
          <h2 class="mx-4"> Guide #0: Introduction to competitive programming </h2>
        </div>
        
        <div style="text-align:justify;" class="mx-4 my-2">
         <strong> Olá! </strong>
          <br>
          Nesta seção você encontrará links úteis relacionados à programação competitiva!
          <br>
          Por enquanto, não tenho material para usar ): Clique em "Próximo" !
        </div>

        <div align="right">
          <a href="/guides/n2"> 
            <button type="button" class="btn btn-secondary"> Próximo </button>
          </a>
        </div>
      </section>
    </div>
  </body>
</html>
