<!DOCTYPE html>
{% include "sidebar.html" %}

<html>
  <body>
    <title> Guide #0 - Introduction to competitive programming </title>
    <div class="container-fluid p-0">
      <section class="resume-section p-lg-5 flex-column">
        <div class="my-auto">
          <h2>  Guide #0: Introduction to competitive programming </h2>
        </div>
  
        <strong> Olá! </strong>
        <br>
        Nesta seção você encontrará links úteis relacionados à programação competitiva!
        <br>
        Por enquanto, não tenho material para usar ): Clique em "Próximo" !
        
        <div align="right">
          <a href="/guides/n2"> 
            <button type="button" class="btn btn-secondary"> Próximo </button>
          </a>
        </div>
      </section>
    </div>
  </body>
</html>
