<!DOCTYPE html>
{% include "sidebar.html" %}

<html>
  <body>
    <title> UEM-PC Other articles </title>
    <div class="container-fluid p-0">
      <section class="resume-section p-lg-5 flex-column">
        <div class="my-auto">
          <h2 class="mb-5 mx-4"> Outros artigos </h2>
        </div>
          <div class="card mx-4">
            <div class="card-body">
              {% if not otherArticles %}
                <div>
                  <p class="muted-text"> Nenhum artigo encontrado. </p>
                </div>
              {% else %}
                {% for article in otherArticles%}
                <div class="card card-primary my-4">
                  <div class="card-block my-2">
                    <h4 class="mb-0">
                      <a class="card-text mx-4" href="/wiki/{{article.problemNumber}}"> 
                        {{ article.problemNumber }} - {{article.title}}
                      </a>
                    </h4>
                    <p class="muted-text mx-4"> {{ article.date|date:"d/m/Y" }} - By {{ article.authorID }}</p>
                  </div>
                </div>
                {% endfor %}
                
                <div class="card pagination text-center">
                  <span class="step-link">
                    {% if otherArticles.has_previous %}
                      <a href="?page=1" class="mx-4">&laquo; Primeiro </a>
                      <a href="?page={{ otherArticles.previous_page_number }}"> Anterior </a>
                    {% else %}
                      <a class="disabled invisible mx-4">&laquo; Primeiro </a>
                      <a class="disabled invisible"> Anterior </a>
                    {% endif %}

                    <span class="current mx-4">
                      Page {{ otherArticles.number }} of {{ otherArticles.paginator.num_pages }}
                    </span>

                    {% if otherArticles.has_next %}
                      <a href="?page={{ otherArticles.next_page_number }}" class="mx-4"> Próximo </a>
                      <a href="?page={{ otherArticles.paginator.num_pages }}"> Último &raquo; </a>
                    {% else %}
                      <a class="disables invisible mx-4"> Próximo </a>
                      <a class="disabled invisible"> Último &raquo; </a>
                    {% endif %}
                  </span>
                </div>
              {% endif %}
            </div>
          </div>
      </section>
    </div> 
  </body>
</html>
