[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.6"

[packages]
django = ">=2.2.13"
gunicorn = "*"
django-heroku = "*"
pillow = ">=8.1.2"
"psycopg2-binary" = "*"
