<!DOCTYPE html>
{% include "sidebar.html" %}

<html>
  <head>  
    <link rel="stylesheet" href="/static/css/codemirror.css">
  </head>

  <body>
    <title> UEM-PC Wiki Problem {{article.problemNumber}} </title>
    <div class="container-fluid p-0">
      <section class="resume-section p-lg-5 flex-column">
        <div class="my-auto">
          <h2 class="mb-0">
            {{ article.problemNumber }} - {{article.title}}
          </h2>
          <p class="muted-text">
            {{ article.date|date:"d/m/Y" }} - By {{ article.authorID}}
          </p>
        </div>

        <div class="card mb-4">
          <div class=card-body>
            <div class="card">
              <div class="card-block my-2">
                <h4 class="mb-0 ml-2"> Description </h4>
              </div>
              <div class="card-text mx-4 mb-4">
                {{ article.body }}
              </div>
            </div>
          </div>
        </div>

        <div class="card-deck mb-4">
          <div class="card">
            <div class=card-body>
              <div class="card mx-0">
                <div class="card-block my-2">
                  <h4 class="mb-0 ml-2"> Inputs </h4>
                </div>
                <div class="card-text mx-4 mb-4">
                  {{ article.inputs }}
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class=card-body>
              <div class="card mx-0">
                <div class="card-block my-2">
                  <h4 class="mb-0 ml-2"> Outputs </h4>
                </div>
                <div class="card-text mx-4 mb-4">
                  {{ article.outputs }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class=card-body>
            <div class="card">
              <div class="card-block my-2">
                <h4 class="mb-0 ml-2"> Code </h4>
              </div>
              <div class="card-text mx-4 mb-4">
                <textarea class="codemirror-textarea">{{ article.bodyCode}}
                </textarea>
              </div>
            </div>
          </div>
          {% if user.username == article.authorID.username %}
            <div class="card-footer my-0">
              <a href="/wiki/edit/{{article.problemNumber}}">
                <button type="button" class="btn button-secondary mr-4"> Edit </button>
              </a>
            </div>
          {% endif %}
        </div>
      </section>
    </div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/js/codemirror.js"></script>
    <script src="/static/js/text-area.js"></script>

    <!-- Modes -->
    <script src="/static/mode/clike/clike.js"></script>
  </body>
</html> 
