{% include "front.html" %}

<html lang="en">
<body>  
  <title> UEM-PC Login </title>
<!-- Form Module-->
  <div class="module form-module">
    <!--
    <div class="toggle"><i class="fa fa-times fa-pencil"></i>
      <div class="tooltip">Click Me</div>
    </div>
    -->
    <div></div>
    <div class="form">
      <h2 align="center">Entre na sua conta</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        {% if form.non_field_errors%}  
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              <strong>{{error|escape}}</strong>
            {% endfor %}
          </div>
        {% endif %}
        <button type="submit">Login</button>

      </form>
    </div>
    
    <div class="cta" style="background:#e5e5e5"><a href="/home"> <h2> Acessar página inicial </h2></a></div>

    <div class="cta" style="background:#e5e5e5"><a href="/signup"> Criar conta </a></div>

  </div>
</body>
</html>
