{% include "front.html" %}

<html lang="en">
<body>
  <title> UEM-PC - Register </title>
  <!-- Form Module-->
  <div class="module form-module">
    <div></div>
    <div class="form">
      <h2 align="center">Criar sua conta</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        {{ form.first_name }}
        {{ form.last_name }}
        <!--
        {{ form.avatar.help_text }} {{ form.avatar }}
        -->
        {% if form.non_field_errors %}
          {% for msg in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ msg }}</strong>
            </div>
          {% endfor %}
        {% endif %}

        <button type="submit">Register</button>
      </form>
    </div>

    <div class="cta" style="background:#e5e5e5"><a href="/login"> Já possui uma conta ?</a></div>
  </div>
</body>
</html>
